* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #f04f28;
  background-color: #f9f9f5;
  font-size: 16px;
  font-family: "Microsoft Sans Serif";
}

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: #f04f28;
}

h1 {
  font-size: 1.25em;
  font-family: "Microsoft Sans Serif";
}

h2 {
  font-size: 0;
  font-family: "Microsoft Sans Serif";
  font-weight: normal;
}

h3 {
  font-size: 3.50em;
  font-family: "ITC Garamond Std";
  font-weight: normal;
}

h4 {
  font-size: 2.40em;
  font-family: "ITC Garamond Std";
  font-weight: normal;
}

p {
  font-size: 0.95em;
  font-family: "Microsoft Sans Serif";
}

.grid {
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: #87ff99;
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

header .main-menu h1 {
  float: left;
  margin: 20px 20px;
  color: #fff;
}

header .order {
  float: right;
  margin: 15px 20px;
}

header .order button {
  width: 93px;
  height: 43px;
  font-size: 1.28em;
  color: #f04f28;
  border-radius: 30px;
  border: 1px solid #fff;
}

header .order button:hover {
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

header .gnb {
  display: none;
}

main .header-logo .back {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  background: url(../images/main1.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 1024px) {
  main .header-logo .back {
    background: url(../images/main2.jpg);
    background-size: cover;
  }
}

main .header-logo div.grid .logo {
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: 5%;
}

main .header-logo div.grid .logo h2 {
  font-size: 15em;
  font-family: Garamond;
  font-weight: normal;
}

main .header-logo div.grid .logo h2 a {
  color: #fff;
}

main .header-logo div.grid .logo h2 a img {
  width: 500px;
}

main .header-logo div.grid .logo h2 a img.scroll {
  translate: scaleX(50%);
  -webkit-transition: all 1s;
  transition: all 1s;
}

main .slide {
  position: relative;
  overflow: hidden;
}

main .slide .inbox {
  margin: 7% 0 5%;
  width: 300%;
}

main .slide .inbox a {
  display: inline-block;
  margin-right: 20px;
  font-size: 3em;
  font-family: "ITC Garamond Std";
  font-weight: normal;
}

main .slide .inbox a:first-child {
  opacity: 0.3;
}

main .slide .inbox a:last-child {
  opacity: 0.3;
}

@media screen and (min-width: 768px) {
  main .slide .inbox a {
    font-size: 5em;
  }
}

main .slide sup {
  font-size: medium;
}

main .slide .slideContainer {
  position: relative;
}

main .slide .slideContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800%;
}

@media screen and (min-width: 768px) {
  main .slide .slideContainer ul {
    width: 400%;
  }
}

@media screen and (min-width: 1024px) {
  main .slide .slideContainer ul {
    width: 200%;
  }
}

main .slide .slideContainer ul li {
  margin: 0 0.5%;
  background-color: aqua;
}

main .slide .slideContainer ul li a img {
  width: 100%;
  height: initial;
  padding-bottom: 5px;
}

main .slide .slideContainer ul li a p {
  line-height: 20px;
}

@media screen and (min-width: 768px) {
  main .slide .slideContainer ul li a p {
    padding-right: 25%;
    font-size: 1.30em;
    line-height: 25px;
  }
}

@media screen and (min-width: 1024px) {
  main .slide .slideContainer ul li a p {
    padding-right: 0;
    padding-bottom: 5px;
    font-size: 1.0em;
    line-height: 20px;
  }
}

main .slide .slideContainer ul li a strong {
  display: none;
  padding: 5px 4%;
  font-size: 0.72em;
  font-weight: normal;
  border: 1px solid;
  border-radius: 100px;
}

@media screen and (min-width: 1024px) {
  main .slide .slideContainer ul li a strong {
    display: inline;
    line-height: 30px;
  }
}

main .slide .slideContainer .btnL {
  position: absolute;
  top: 45%;
  left: 20px;
}

main .slide .slideContainer .btnL button {
  border: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
}

main .slide .slideContainer .btnL img {
  width: 100%;
}

main .slide .slideContainer .btnR {
  position: absolute;
  top: 45%;
  right: 20px;
}

main .slide .slideContainer .btnR button {
  border: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
}

main .slide .slideContainer .btnR img {
  width: 100%;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.marquee .belief {
  -webkit-animation: marquee infinite 10s both linear;
          animation: marquee infinite 10s both linear;
}

@media screen and (min-width: 1024px) {
  .marquee .belief {
    -webkit-animation: marquee infinite 23s both linear;
            animation: marquee infinite 23s both linear;
  }
}

.marquee .belief span {
  font-size: 7.0em;
}

@-webkit-keyframes marquee {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}

@keyframes marquee {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}

.belief {
  padding-top: 55px;
}

.belief marquee {
  font-size: 7.0em;
}

.contents {
  text-align: center;
}

.contents .delivery img {
  width: 90%;
  margin: 30px 0;
  border-radius: 300px;
}

@media screen and (min-width: 768px) {
  .contents .delivery img {
    width: 50%;
  }
}

.contents .delivery .text-box {
  margin: 0.5%;
}

@media screen and (min-width: 768px) {
  .contents .delivery .text-box {
    float: left;
    width: 45%;
    margin-top: 25%;
  }
}

.contents .delivery .text-box h3 {
  line-height: 45px;
}

@media screen and (min-width: 1024px) {
  .contents .delivery .text-box h3 {
    font-size: 4.85em;
    line-height: 65px;
  }
}

.contents .delivery .text-box p {
  padding: 20px 5% 30px;
  font-size: 1.25em;
}

@media screen and (min-width: 1024px) {
  .contents .delivery .text-box p {
    line-height: 25px;
  }
}

.contents .delivery .text-box button {
  margin-bottom: 80px;
  width: 140px;
  height: 40px;
  font-size: 1.20em;
  color: #f04f28;
  border-radius: 30px;
  border: 1px solid #f04f28;
  background-color: transparent;
}

.contents .delivery .text-box button:hover {
  color: #fff;
  background-color: #f04f28;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .contents .ethos {
    margin: 60px 0;
  }
}

.contents .ethos img {
  width: 90%;
}

@media screen and (min-width: 768px) {
  .contents .ethos img {
    width: 50%;
  }
}

.contents .ethos .text-box2 {
  margin: 0.5%;
}

@media screen and (min-width: 768px) {
  .contents .ethos .text-box2 {
    float: right;
    width: 45%;
    margin-top: 25%;
  }
}

.contents .ethos .text-box2 h3 {
  margin-top: 30px;
}

@media screen and (min-width: 1024px) {
  .contents .ethos .text-box2 h3 {
    font-size: 4.85em;
  }
}

.contents .ethos .text-box2 p {
  padding: 20px 5% 20px;
  font-size: 1.25em;
}

.contents .ethos .text-box2 button {
  margin-bottom: 60px;
  width: 140px;
  height: 40px;
  font-size: 1.20em;
  color: #f04f28;
  border-radius: 30px;
  border: 1px solid #f04f28;
  background-color: transparent;
}

.contents .ethos .text-box2 button:hover {
  color: #fff;
  background-color: #f04f28;
  cursor: pointer;
}

.categories {
  text-align: center;
}

.categories h3 {
  margin-bottom: 40px;
  font-family: "Microsoft Sans Serif";
  font-size: 1.25em;
}

.categories ul {
  padding: 0 10%;
}

.categories ul li {
  line-height: 37px;
  font-family: "ITC Garamond Std";
  font-size: 2.30em;
}

@media screen and (min-width: 768px) {
  .categories ul li {
    line-height: 60px;
    font-size: 3.55em;
  }
}

@media screen and (min-width: 1024px) {
  .categories ul li {
    line-height: 80px;
    font-size: 4.85em;
  }
}

.categories ul li a:hover {
  font-family: "Microsoft Sans Serif";
  font-size: 0.85em;
}

.categories ul button {
  margin: 40px 0;
  width: 110px;
  height: 40px;
  font-size: 1.28em;
  color: #f04f28;
  border-radius: 30px;
  border: 1px solid #f04f28;
  background-color: transparent;
}

.categories ul button:hover {
  color: #fff;
  background-color: #f04f28;
  cursor: pointer;
}

.order_pickup {
  text-align: center;
}

.order_pickup button {
  margin-top: 30px;
  width: 14rem;
  height: 14rem;
  color: #f04f28;
  border: 1px solid #f04f28;
  background-color: transparent;
}

.order_pickup button:hover {
  color: #fff;
  background-color: #f04f28;
  cursor: pointer;
}

.order_pickup button:last-child {
  border-radius: 100%;
}

@media screen and (min-width: 768px) {
  .order_pickup button {
    width: 23rem;
    height: 23rem;
    margin: 5%;
  }
}

@media screen and (min-width: 1024px) {
  .order_pickup button {
    margin: 2%;
  }
}

.order_pickup button div p {
  font-family: "Microsoft Sans Serif";
  font-size: 1.40em;
}

@media screen and (min-width: 768px) {
  .order_pickup button div p {
    font-size: 1.50em;
  }
}

.instagram {
  margin: 60px 0 80px;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  padding: 0 1rem;
}

.instagram .insta-box {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 1rem;
  place-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.instagram .insta-box h3 {
  font-size: calc(16px + 0.5vw);
  font-family: "Microsoft Sans Serif";
}

.instagram .insta-box button {
  padding: 0.5rem 1.1rem;
  font-size: calc(16px + 0.5vw);
  color: #f04f28;
  border-radius: 30px;
  border: 1px solid #f04f28;
  background-color: transparent;
}

.instagram .insta-box button:hover {
  color: #fff;
  background-color: #f04f28;
  cursor: pointer;
}

.instagram .img-flex {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 1024px) {
  .instagram .img-flex {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.instagram .img-flex img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .instagram .img-flex img {
    padding: 0.8%;
  }
}

footer {
  color: #fff;
  background-color: #f04f28;
}

footer .footer-wrap {
  display: -ms-grid;
  display: grid;
  padding: 2rem 3.1rem 1rem 1.2rem;
}

@media screen and (min-width: 1024px) {
  footer .footer-wrap {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-column-gap: 1.3rem;
  }
}

footer .footer-wrap a {
  margin-bottom: 20px;
  color: #fff;
  font-size: 6.0em;
  font-family: Garamond;
}

@media screen and (min-width: 768px) {
  footer .footer-wrap a {
    font-size: 6.5em;
  }
}

@media screen and (min-width: 1024px) {
  footer .footer-wrap a {
    font-size: 15em;
  }
}

footer .footer-wrap .about-re {
  padding-bottom: 70px;
  line-height: 25px;
  font-size: 1.18em;
}

@media screen and (min-width: 768px) {
  footer .footer-wrap .about-re {
    max-width: 20.4em;
    font-size: 1.30em;
  }
}

@media screen and (min-width: 1024px) {
  footer .footer-wrap .about-re {
    font-size: 1.90em;
    line-height: 35px;
    margin: 100px 0 50px;
  }
}

footer .footer-wrap .about-re span {
  font-size: 1.25em;
  font-family: "ITC Garamond Std";
}

footer .footer-wrap .sign-up {
  position: relative;
}

footer .footer-wrap .sign-up p {
  margin-top: 15px;
  font-size: 1.10em;
}

footer .footer-wrap .sign-up .email {
  max-width: 30em;
}

footer .footer-wrap .sign-up .email label {
  font-size: 0;
}

footer .footer-wrap .sign-up .email input {
  width: 100%;
  height: 60px;
  padding-left: 30px;
  border: none;
  font-size: 1.80em;
}

footer .footer-wrap .sign-up .email input::-webkit-input-placeholder {
  color: #f04f28;
  opacity: 0.5;
}

footer .footer-wrap .sign-up .email input:-ms-input-placeholder {
  color: #f04f28;
  opacity: 0.5;
}

footer .footer-wrap .sign-up .email input::-ms-input-placeholder {
  color: #f04f28;
  opacity: 0.5;
}

footer .footer-wrap .sign-up .email input::placeholder {
  color: #f04f28;
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  footer .footer-wrap .sign-up .email input {
    margin-top: 5px;
  }
}

footer .footer-wrap .sign-up .email button {
  position: absolute;
  bottom: 3px;
  right: 8%;
  font-size: 2.50em;
  color: #f04f28;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  footer .footer-wrap .sign-up .email button {
    right: 37%;
  }
}

@media screen and (min-width: 1024px) {
  footer .footer-wrap .sign-up .email button {
    right: 10%;
  }
}

footer .footer-wrap .foot-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0 70px;
}

@media screen and (min-width: 768px) {
  footer .footer-wrap .foot-menu {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media screen and (min-width: 1024px) {
  footer .footer-wrap .foot-menu {
    margin: 0;
  }
}

footer .footer-wrap .foot-menu ul {
  width: 30%;
}

@media screen and (min-width: 1024px) {
  footer .footer-wrap .foot-menu ul {
    width: 33%;
  }
}

footer .footer-wrap .foot-menu ul li a {
  line-height: 20px;
  color: #fff;
  font-family: "Microsoft Sans Serif";
  font-size: 0.90em;
}

@media screen and (min-width: 768px) {
  footer .footer-wrap .foot-menu ul li a {
    line-height: 25px;
    font-size: 0.95em;
  }
}

@media screen and (min-width: 1024px) {
  footer .footer-wrap .foot-menu ul li a {
    line-height: 15px;
    font-size: 1.30em;
  }
}

footer .footer-wrap .copyright {
  font-size: 0.93em;
}

@media screen and (min-width: 1024px) {
  footer .footer-wrap .copyright {
    margin-top: 60px;
  }
}
/*# sourceMappingURL=index.css.map */