$font-main: 'Microsoft Sans Serif';
$font-title: Garamond;
$font-sub: 'ITC Garamond Std';
$font-p: "Suisse Int'l";
$color-main: #f04f28;
$color-base: #fff;

$background: #f9f9f5;


$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1024px;